.chartWrap
{
	margin: 0;
	overflow: hidden;
	padding: 0;
}
.nvtooltip.with-3d-shadow,.with-3d-shadow .nvtooltip
{
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	moz-border-radius: 6px;
	moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	webkit-border-radius: 6px;
	webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.nvtooltip
{
	border: 1px solid;
	font-size: 13px;
	khtml-user-select: none;
	moz-user-select: none;
	ms-user-select: none;
	padding: 1px;
	pointer-events: none;
	position: absolute;
	text-align: left;
	user-select: none;
	webkit-touch-callout: none;
	webkit-user-select: none;
	white-space: nowrap;
	z-index: 10000;
}
.nvtooltip.with-transitions,.with-transitions .nvtooltip
{
	moz-transition: opacity 250ms linear;
	moz-transition-delay: 250ms;
	transition: opacity 250ms linear;
	transition-delay: 250ms;
	webkit-transition: opacity 250ms linear;
	webkit-transition-delay: 250ms;
}
.nvtooltip.x-nvtooltip,.nvtooltip.y-nvtooltip
{
	padding: 8px;
}
.nvtooltip h3
{
	border-radius: 5px 5px 0 0;
	font-weight: 400;
	line-height: 18px;
	margin: 0;
	moz-border-radius: 5px 5px 0 0;
	padding: 4px 14px;
	text-align: center;
	webkit-border-radius: 5px 5px 0 0;
}
.nvtooltip p
{
	margin: 0;
	padding: 5px 14px;
	text-align: center;
}
.nvtooltip span
{
	display: inline-block;
	margin: 2px 0;
}
.nvtooltip table
{
	border-spacing: 0;
	margin: 6px;
}
.nvtooltip table td
{
	padding: 2px 9px 2px 0;
	vertical-align: middle;
}
.nvtooltip table td.key
{
	font-weight: 400;
}
.nvtooltip table td.value
{
	font-weight: 700;
	text-align: right;
}
.nvtooltip table tr.highlight td
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	padding: 1px 9px 1px 0;
}
.nvtooltip table td.legend-color-guide div
{
	height: 8px;
	vertical-align: middle;
	width: 8px;
}
.nvtooltip .footer
{
	padding: 3px;
	text-align: center;
}
.nvtooltip-pending-removal
{
	pointer-events: none;
	position: absolute;
}
.nvd3 .nv-background
{
	fill-opacity: 0;
}
.nvd3.nv-noData
{
	font-size: 18px;
	font-weight: 700;
}
.nv-brush .extent
{
	fill-opacity: .125;
	shape-rendering: crispEdges;
}
.nvd3 .nv-legend .nv-series
{
	cursor: pointer;
}
.nvd3 .nv-legend .disabled circle
{
	fill-opacity: 0;
}
.nvd3 .nv-axis
{
	pointer-events: none;
}
.nvd3 .nv-axis path
{
	fill: none;
	shape-rendering: crispEdges;
	stroke: #000;
	stroke-opacity: .75;
}
.nvd3 .nv-axis path.domain
{
	stroke-opacity: .75;
}
.nvd3 .nv-axis.nv-x path.domain
{
	stroke-opacity: 0;
}
.nvd3 .nv-axis line
{
	fill: none;
	shape-rendering: crispEdges;
	stroke: #e5e5e5;
}
.nvd3 .nv-axis .zero line,.nvd3 .nv-axis line.zero
{
	stroke-opacity: .75;
}
.nvd3 .nv-axis .nv-axisMaxMin text
{
	font-weight: 700;
}
.nvd3 .x .nv-axis .nv-axisMaxMin text,.nvd3 .x2 .nv-axis .nv-axisMaxMin text,.nvd3 .x3 .nv-axis .nv-axisMaxMin text
{
	text-anchor: middle;
}
.nvd3.nv-pie path
{
	moz-transition: fill-opacity 250ms linear,stroke-width 250ms linear,stroke-opacity 250ms linear;
	transition: fill-opacity 250ms linear,stroke-width 250ms linear,stroke-opacity 250ms linear;
	webkit-transition: fill-opacity 250ms linear,stroke-width 250ms linear,stroke-opacity 250ms linear;
}
.nvd3.nv-pie .nv-slice text
{
	stroke-width: 0;
}
.nvd3.nv-pie path
{
	stroke-opacity: 1;
	stroke-width: 1px;
}
.nvd3.nv-pie .hover path
{
	fill-opacity: .7;
}
.nvd3.nv-pie .nv-label
{
	pointer-events: none;
}
.nvd3.nv-pie .nv-label rect
{
	fill-opacity: 0;
	stroke-opacity: 0;
}
.nvd3 .nv-groups path.nv-line
{
	fill: none;
	stroke-width: 1.5px;
}
.nvd3 .nv-groups path.nv-line.nv-thin-line
{
	stroke-width: 1px;
}
.nvd3 .nv-groups path.nv-area
{
	stroke: none;
}
.nvd3 .nv-line.hover path
{
	stroke-width: 6px;
}
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point
{
	fill-opacity: 1;
	stroke-opacity: 1;
}
.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point
{
	fill-opacity: .5!important;
	stroke-opacity: .5!important;
}
.with-transitions .nvd3 .nv-groups .nv-point
{
	moz-transition: stroke-width 250ms linear,stroke-opacity 250ms linear;
	transition: stroke-width 250ms linear,stroke-opacity 250ms linear;
	webkit-transition: stroke-width 250ms linear,stroke-opacity 250ms linear;
}
.nvd3 .nv-point-paths path
{
	fill: #eee;
	fill-opacity: 0;
	stroke: #aaa;
	stroke-opacity: 0;
}
.nvd3 .nv-indexLine
{
	cursor: ew-resize;
}
.nvd3 .nv-scatter .nv-point.hover
{
	fill-opacity: 1;
}
.nvd3 .nv-interactiveGuideLine
{
	pointer-events: none;
}
.nvd3 line.nv-guideline
{
	stroke: #ccc;
	stroke-width: 1.5px;
}